.inputBox {
  display: flex;
  flex-direction: column;
  gap: 0.16rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: var(--white);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.phoneInputField{
  display: flex;
  flex: row;
  gap: 0.25rem
}

input {
  border: none;
  outline: none;
  background: transparent;
}

.filterAlignment{
  display: flex;
  gap: 0.25rem
}