.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: fixed;
  padding-bottom: 3rem;
}

.image {
  width: 2.75rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}


.unActive {
display: none;
}